[package]
name = "len_experiment"
version = "0.1.0"
edition = "2021"

[profile.release]
lto = true
codegen-units = 1

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "buffer_bench"
harness = false
